<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1><img src="/images/check-mark-304890_1280.png">To-Do List</h1>
    </header>
    <section class="inputs">
        <h3>New To-Dos</h3>
        <input type="text" id="taskNameIn" placeholder="Task Name">
        <button type="button" id="addTodoButton">Add Task</button>
        <input type="text" id="personNameIn" placeholder="Person Name">
        <button type="button" id="addPersonButton">Add Person</button>
        <input type="text" id="listNameIn" placeholder="List Name">
        <button type="button" id="addListButton">Add List</button>
    </section>
    <main>
        <h3>Task List: <select id="lists">
        </select></h3>
        <div id="tasks">
            <h3>Current To-Dos</h3>
            <ol id="taskOutputs">
            </ol>
        </div>
    </main>
</body>

</html>
