@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 20px;
}

header img {
    height: 50px;
}

main {
    vertical-align: top;
}

aside {
    float: left;
    position: fixed;
}

button {
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    /*background-color: #B2E79F;*/
    /*border: 1px solid #88B04B;*/
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

button:hover {
    cursor: pointer;
}

button.delete-button, #deleteList {
    /*background-color: #aa3311 !important;*/
    /*color: #eeeeee !important;*/
    /*border: 1px solid #111111 !important;*/
    color: #aa3311 !important;
}

input {
    height: 30px;
    border-radius: 5px;
}

select {
    height: 30px;
    font-size: 16px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

h3 {
    padding: 0;
    margin: 5px;
}

#inputs {
    display: inline-block;
    ;
    background-color: #88B04B;
    padding: 10px;
    border: 1px solid #52703F;
    border-radius: 20px;
    margin: 20px;
}

.task {
    /*display: inline-block;*/
    /*background-color: #88B04B;*/
    padding: 10px;
    /*border: 1px solid #52703F;*/
    border-radius: 20px;
    /*margin: 0 20px 20px 20px;*/
    vertical-align: top;
}

.status-button {
    left: 20%;
}

.expand-button, .collapse-button {
    left: 30%;
}

.completed-task button {
    color: #eeeeee;
}

.task.completed-task {
    background-color: #555555;
    color: #eeeeee;
}

.task li {
    margin: 5px;
    text-align: left;
}

.task select {
    font-size: 14px;
    padding: 5px 10px;
}
