@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #B2E79F;
    vertical-align: top;
}

button {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #B2E79F;
    border: 1px solid #88B04B;
}

button:hover {
    cursor: pointer;
}

button.delete-button {
    background-color: #aa3311 !important;
    color: #eeeeee !important;
    border: 1px solid #111111 !important;
}

h3 {
    padding: 0;
    margin: 5px;
}

#inputs {
    display: inline-block;;
    background-color: #88B04B;
    padding: 10px;
    border: 1px solid #52703F;
    border-radius: 20px;
    margin: 20px;
}

#tasks {
    display: inline-block;
    background-color: #88B04B;
    padding: 10px;
    border: 1px solid #52703F;
    border-radius: 20px;
    margin: 20px;
    vertical-align: top;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

tr {
    border-radius: 5px;
}

tbody tr:nth-child(2n+1) {
    background-color: #88B04B;
    border: 1px solid #52703F;
}

tbody tr:nth-child(2n+1) button{
    background-color: #555555;
    color: #eeeeee;
}

tbody tr:nth-child(2n+1).completed-task {
    background-color: #444444;
    color: #eeeeee;
}

tbody tr:nth-child(2n+1).completed-task button{
    background-color: #B2E79F;
    border: 1px solid #88B04B;
    color: #555555;
}

tbody tr:nth-child(2n) {
    background-color: #B2E79F;
    border: 1px solid #88B04B;
}

tbody tr:nth-child(2n) button {
    background-color: #444444;
    color: #eeeeee;
}

tbody tr:nth-child(2n).completed-task {
    background-color: #555555;
    color: #eeeeee;
}

tbody tr:nth-child(2n).completed-task button{
    background-color: #88B04B;
    border: 1px solid #52703F;
    color: #555555;
}

td {
    padding: 5px 20px 5px 20px;
}
